h1 {
  margin: 0;
 font-size: 4em;
}

h2 {
  font-size: 3em;
  margin: 20px;
}

h3 {
  font-size: 1.2em;
  margin-top: 0;
}

.centered {
  text-align: center;
}

.info {
  position: absolute;
  bottom: 4em;
  width: 100%;
  font-size: 1.2rem;
  margin-top: '10px';
	text-align: 'center';
	padding: '20px';
  padding: 5px 20px;
  width: 50em;
  /*background-color: #fff;
  color: #6C6C6C;*/
  box-sizing: border-box;
}

.info>p {
  margin: 5px;
}



.screen {
  background-color: #ECECEC;
  color: #222222;
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  text-align: 'center';
  /*display: 'flex';
  flex-direction: 'column';
  align-items:'center'*/
}

.next-page-btn-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%);
}

.next-page-btn {
  background-color: #fff;
  width: 40px;
  height: 40px;
  z-index: 100000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
/* HOME */
div[role="presentation"] {
    width: auto !important;
}

/* ===========   CompanySize   =========== */

.circle-container {
  display: flex;
  align-items: center;
}



.circle {
  position: relative;
  margin: 5px;

 display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 170px;
  width: 170px;

  transition: 0.4s ease;
}

.inner-circle {
  background-color: #44E6FF;
  height: 100px;
  width: 100px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.circle:hover .company-size-info {
  display: block;
  opacity: 1;
}

.circle:nth-child(1) .inner-circle {
  height: 50px;
  width: 50px;
    background-color: #44E6FF;
}
.circle:nth-child(2) .inner-circle {
  height: 100px;
  width: 100px;
    background-color: #44E6FF;
}
.circle:nth-child(3) .inner-circle {
  height: 130px;
  width: 130px;
  background-color: #44E6FF;
}
.circle:nth-child(4) .inner-circle {
  height: 160px;
  width: 160px;
  background-color: #44E6FF;
}


.company-size-info {
  color: #fff;
  display: none;
  opacity: 0;
  position: absolute;
  top: 110%;
  left: -50%;
  z-index: 1000;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  width: 17.5em;
  text-align: center;
  border-radius: 5px;
}

.company-size-info>p {
  margin: 5px;
}

.company-size-info p:nth-of-type(1) {
/*text-decoration: underline;*/
  font-size: 1.2rem;
}
.company-size-info p:nth-of-type(2) {
  font-weight: bold;
  font-size: 2rem;
}






/* ============ ContractType =========== */
iframe #middle.ig-container {
  background-color: green !important;
}


/* =========== Carousel ============= */

.carousel-container {
  overflow: hidden;
  width: 100vw;
}

#carousel {
  box-sizing: border-box;
  display: flex;
  width: 600%;
  position: relative;
  left: 0;
}

/* ====== Animations ======== */

.animate-panel1 {
  animation-name: moveToLeft1;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.animate-panel2 {
  animation-name: moveToLeft2;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.animate-panel3 {
  animation-name: moveToLeft3;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.animate-panel4 {
  animation-name: moveToLeft4;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.animate-panel5 {
  animation-name: moveToLeft5;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes moveToLeft1 {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes moveToLeft2 {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}
@keyframes moveToLeft3 {
  from {
    left: -200%;
  }
  to {
    left: -300%;
  }
}
@keyframes moveToLeft4 {
  from {
    left: -300%;
  }
  to {
    left: -400%;
  }
}
@keyframes moveToLeft5 {
  from {
    left: -400%;
  }
  to {
    left: -500%;
  }
}
 